{
  "openTabs": [
    "convo/test.ink",
    "convo/dion-helly-leak.ink",
    "conversations/sarah-chat-1.ink",
    "conversations/grouped-chat.ink"
  ],
  "activeTab": "conversations/grouped-chat.ink"
}