{
  "openTabs": [
    "methods.conf",
    ".editorconfig",
    "convo/test-settings.json",
    "characters/dion.json",
    "characters/dion.conf",
    "convo/test.ink",
    ".prompt-library.json",
    "conversations/grouped-chat-settings.json",
    "conversations/sarah-chat-1-settings.json",
    "conversations/sarah-chat-2-flags.ink"
  ],
  "activeTab": "characters/dion.conf",
  "collapsedFolders": []
}